.Jumbo {
  margin-top: 10vh;
  left: 1rem;
  display: flex;
  align-items: center;
  background: $white;
  color: $black;

  &__name,
  &__description {
    @include fonting(
      $header-font-stack,
      $s: 5rem,
      $w: 600,
      $lh: 1.1,
      $ls: -0.022em
    );

    @include breakpoint(tablet) {
      @include fonting(
        $header-font-stack,
        $s: 8rem,
        $w: 600,
        $lh: 1.2,
        $ls: -0.022em
      );
    }

    max-width: 85%;
  }
}
