.Project {
  color: $body-color;
  background: $white;
  box-shadow: $black-box-shadow;
  position: relative;

  &__img-container {
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &:hover .Project__title {
      opacity: 1;
    }
  }

  &__img {
    width: 80%;
    min-height: 250px;
    object-fit: contain;
  }

  &__title {
    @include fonting($header-font-stack, $s: 2.5rem, $lh: 3rem, $ls: 1px);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: auto;
    color: $black;
    background: $white;
    padding: 2rem;
    opacity: 0;
    transition: all 300ms ease-in-out;

    cursor: pointer;
  }

  &__year {
    @include fonting($header-font-stack, $s: 2rem);
    margin: 1.5rem 0;
  }

  &__link.link {
    @include fonting(
      $header-font-stack,
      $s: 2rem,
      $ls: 1px,
      $w: 300,
      $lh: 2.5rem
    );
    color: $black;
  }

  &__description {
    @include fonting($header-font-stack, $s: 2rem, $w: 300, $lh: 2.5rem);
    padding-left: 1.5rem;
    border-left: 0.25rem solid $gray-1;
    color: $black;
    margin: 2rem 0;
  }
}
