@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto+Slab:300,400');

$white: white;
$gray-1: rgb(207, 203, 203);
$gray-8: rgb(100, 100, 100);
$gray-9: rgb(65, 64, 64);
$black: rgb(40, 37, 37);
$highlight-color: #6a6adf;
$dark-color: #dadaf5;
$body-color: #525f7f;
$red: #dd3435;
$red-light: rgba(221, 52, 53, 0.2);

$header: 2em;
$subheader: 1.3em;
$content: 0.85em;
$header-font-stack: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$subheader-font-stack: 'Roboto Slab', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
  sans-serif;
$background-color: $black;
$black-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1),
  0 2px 4px 0 rgba(14, 30, 37, 0.12);
